.page {
    width: 960px;
    margin: 0 auto;
    min-width: 768px;
}
.content{
    background-color: aqua;
    padding: 2%;
}
.fillcolor{
    clear: both;
}
.leftside-bar{
    float: left;
    width: 18%;
    margin-left: -10px;
    margin-right: 4%;
}
.main {
    width: 53%;
    float: left;
    text-align: justify;
    margin-right: 1%;
}

.navigation {
    float: right;
    width: 0%;
    margin-right: 21%;
}
